/.idea
/.Build
/.php_cs.cache
/composer.lock
/Resources/Public/Build
/Resources/Private/Templates/Page.html
/phpunit.xml
/var
.phpunit.result.cache
.ddev/
config
assets
webpack.config.js
node_modules
package.json
yarn.lock
/Configuration/RTE/*
