includes:
    - phpstan-baseline.neon
parameters:
  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
  level: max
  paths:
    - Classes
    - Tests

  inferPrivatePropertyTypeFromConstructor: true
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
