parameters:
	ignoreErrors:
		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 4
			path: Classes/Asset/TagRenderer.php

		-
			message: "#^Only booleans are allowed in a negated boolean, \\(int\\|string\\) given\\.$#"
			count: 2
			path: Classes/Asset/TagRenderer.php

		-
			message: "#^Variable method call on TYPO3\\\\CMS\\\\Core\\\\Page\\\\PageRenderer\\.$#"
			count: 2
			path: Classes/Asset/TagRenderer.php

		-
			message: "#^Call to function is_array\\(\\) with array will always evaluate to true\\.$#"
			count: 1
			path: Classes/Form/FormDataProvider/RichtextEncoreConfiguration.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: Classes/Form/FormDataProvider/RichtextEncoreConfiguration.php

		-
			message: "#^Strict comparison using \\!\\=\\= between '' and '1' will always evaluate to true\\.$#"
			count: 1
			path: Classes/Middleware/AssetsMiddleware.php

		-
			message: "#^Only booleans are allowed in an if condition, mixed given\\.$#"
			count: 6
			path: Classes/ViewHelpers/SvgViewHelper.php

		-
			message: "#^Only booleans are allowed in \\|\\|, mixed given on the left side\\.$#"
			count: 1
			path: Classes/ViewHelpers/SvgViewHelper.php

		-
			message: "#^Only booleans are allowed in \\|\\|, mixed given on the right side\\.$#"
			count: 1
			path: Classes/ViewHelpers/SvgViewHelper.php

		-
			message: "#^Variable method call on Prophecy\\\\Prophecy\\\\ObjectProphecy\\<TYPO3\\\\CMS\\\\Core\\\\Page\\\\PageRenderer\\>\\.$#"
			count: 1
			path: Tests/Unit/Asset/TagRendererTest.php

