includes:
    - phpstan-baseline.neon
parameters:
  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
  level: 8
  paths:
    - Classes
    - Tests

  inferPrivatePropertyTypeFromConstructor: true
  treatPhpDocTypesAsCertain: false
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: method.nameCase
  typo3:
    requestGetAttributeMapping:
        _links: array
