parameters:
	ignoreErrors:
		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 4
			path: Classes/Asset/TagRenderer.php

		-
			message: "#^Only booleans are allowed in a negated boolean, \\(int\\|string\\) given\\.$#"
			count: 2
			path: Classes/Asset/TagRenderer.php

		-
			message: "#^Variable method call on TYPO3\\\\CMS\\\\Core\\\\Page\\\\PageRenderer\\.$#"
			count: 2
			path: Classes/Asset/TagRenderer.php

		-
			message: "#^Strict comparison using \\!\\=\\= between '' and '1' will always evaluate to true\\.$#"
			count: 1
			path: Classes/Middleware/AssetsMiddleware.php

		-
			message: "#^Variable method call on Prophecy\\\\Prophecy\\\\ObjectProphecy\\<TYPO3\\\\CMS\\\\Core\\\\Page\\\\PageRenderer\\>\\.$#"
			count: 1
			path: Tests/Unit/Asset/TagRendererTest.php

