parameters:
  level: 5
  paths:
    - "Classes/"

  inferPrivatePropertyTypeFromConstructor: true
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false

  ignoreErrors:
      - '#withAttribute\(\) expects string, bool given#'
      - '#serialize\(\) expects iterable<Psr\\Link\\LinkInterface>&Traversable, array given#'
