parameters:
	ignoreErrors:
		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 4
			path: Classes/Asset/TagRenderer.php

		-
			message: '#^Only booleans are allowed in a negated boolean, \(int\|string\) given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 2
			path: Classes/Asset/TagRenderer.php

		-
			message: '#^Variable method call on TYPO3\\CMS\\Core\\Page\\PageRenderer\.$#'
			identifier: method.dynamicName
			count: 2
			path: Classes/Asset/TagRenderer.php

		-
			message: '#^Call to function is_callable\(\) with array\{TYPO3\\CMS\\Core\\Cache\\CacheDataCollector, ''getPageCacheIdentif…''\} will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: Classes/Service/CacheService.php

		-
			message: '#^Only booleans are allowed in an if condition, mixed given\.$#'
			identifier: if.condNotBoolean
			count: 6
			path: Classes/ViewHelpers/SvgViewHelper.php

		-
			message: '#^Only booleans are allowed in \|\|, mixed given on the left side\.$#'
			identifier: booleanOr.leftNotBoolean
			count: 1
			path: Classes/ViewHelpers/SvgViewHelper.php

		-
			message: '#^Only booleans are allowed in \|\|, mixed given on the right side\.$#'
			identifier: booleanOr.rightNotBoolean
			count: 1
			path: Classes/ViewHelpers/SvgViewHelper.php

		-
			message: '#^Variable method call on Prophecy\\Prophecy\\ObjectProphecy\<TYPO3\\CMS\\Core\\Page\\PageRenderer\>\.$#'
			identifier: method.dynamicName
			count: 1
			path: Tests/Unit/Asset/TagRendererTest.php

		-
			message: '#^Call to function is_callable\(\) with array\{TYPO3\\CMS\\Core\\Cache\\CacheDataCollector, ''setPageCacheIdentif…''\} will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: Tests/Unit/Middleware/AssetsMiddlewareTest.php
